<template>
  <require from="../status/status.line"></require>

  <div class="container bg-light p-md-4">
    <div class="row">
      <div class="col">
        <form>
          <div class="row">
            <!-- Data file -->
            <div class="col">

              <label>
                Choose way to submit dataset:<br>
                <select value.bind="uploadTypeId">
                  <option repeat.for="uploadOption of uploadOptions"
                          model.bind="uploadOption.id">
                    ${uploadOption.name}
                  </option>
                </select>
              </label>
              <div if.bind="uploadTypeId === 0">
                <label for="file">Data file</label>
                <input type="file" class="form-control-file" id="file" aria-describedby="fileDescription"
                       files.bind="uploadFiles">
                <small id="fileDescription" class="form-text text-muted">The file to upload - this is your
                  dataset</small>
              </div>
              <div if.bind="uploadTypeId === 1">
                <label>Link to file: </label>
                <input type="url" value.bind="urlPath">
              </div>

            </div>

            <div class="col" if.bind="uploadTypeId < 2">
              <!-- Header data -->
              <div class="col">

                <label repeat.for="headerOption of headerOptions">
                  <input id="headerOption${headerOption.id}" type="radio" name="group1"
                         model.bind="headerOption.id" checked.bind="selectedHeaderOptionId">
                  ${headerOption.description}
                </label>

                <br>
              </div>

              <div class="col">
                <input class="form-control" type="text" id="csvSeparator" aria-describedby="csvDelimiterDescription"
                       value.two-way="delimiter">
                <small id="csvDelimiterDescription" class="form-text text-muted">CSV Delimiter</small>
                <br>
              </div>
            </div>
            <!-- Specify features (file contains no header) -->
            <div class="row p-2 m-1" if.bind="selectedHeaderOptionId == 0">
              <div class="col">
                <b>Specify the features by name, separated by commas - in the same order as they are in the data
                  file:</b>
                <input class="form-control" type="text" id="featuresManually" value.two-way="featuresCSVString">
              </div>
            </div>


            <div class="col" if.bind="uploadTypeId === 2">
              <small id="linearBetaDescription" class="form-text text-muted">Beta*</small>
              <input class="form-control" type="text" id="beta" aria-describedby="betaDescription"
                     value.two-way="beta">

              <small id="samplesNumberDescription" class="form-text text-muted">Number of samples*</small>
              <input class="form-control" type="text" id="samplesNumber" aria-describedby="samplesNumberDescription"
                     value.two-way="samplesNumber">

              <small id="commonCausesNumberDescription" class="form-text text-muted">Number of common causes*</small>
              <input class="form-control" type="text" id="commonCausesNumber"
                     aria-describedby="commonCausesNumberDescription"
                     value.two-way="commonCausesNumber">

              <small id="discreteCommonCausesNumberDescription" class="form-text text-muted">Number of discrete common
                causes - default:0</small>
              <input class="form-control" type="text" id="discreteCommonCausesNumber"
                     aria-describedby="discreteCommonCausesNumberDescription"
                     value.two-way="discreteCommonCausesNumber">

              <small id="discreteEffectModifiersNumberDescription" class="form-text text-muted">Number of discrete
                effect modifiers - default:0</small>
              <input class="form-control" type="text" id="discreteEffectModifiersNumber"
                     aria-describedby="discreteEffectModifiersNumberDescription"
                     value.two-way="discreteEffectModifiersNumber">

              <small id="discreteInstrumentsNumberDescription" class="form-text text-muted">Number of discrete
                instruments - default:0</small>
              <input class="form-control" type="text" id="discreteInstrumentsNumber"
                     aria-describedby="discreteInstrumentsNumberDescription"
                     value.two-way="discreteInstrumentsNumber">

              <small id="frontdoorVariablesNumberDescription" class="form-text text-muted">Number of frontdoor variables
                - default:0</small>
              <input class="form-control" type="text" id="frontdoorVariablesNumber"
                     aria-describedby="frontdoorVariablesNumberDescription"
                     value.two-way="frontdoorVariablesNumber">

              <small id="instrumentsNumberDescription" class="form-text text-muted">Number of instruments -
                default:0</small>
              <input class="form-control" type="text" id="instrumentsNumber"
                     aria-describedby="instrumentsNumberDescription"
                     value.two-way="instrumentsNumber">

              <small id="treatmentsNumberDescription" class="form-text text-muted">Number of treatments -
                default:1</small>
              <input class="form-control" type="text" id="treatmentsNumber"
                     aria-describedby="treatmentsNumberDescription"
                     value.two-way="treatmentsNumber">

              <div class="row m-1">
                <input class="form-control form-check-input mt-0 ml-0" type="checkbox" id="isOneHotEncoded"
                       aria-describedby="isOneHotEncodedDescription"
                       checked.two-way="isOneHotEncoded">
                <label id="isOneHotEncodedDescription" class="form-text text-muted" for="isOneHotEncoded">Is one hot
                  encoded - default:
                  false</label></div>
              <div class="row m-1">
                <input class="form-control form-check-input mt-0 ml-0" type="checkbox" id="isOutcomeBinary"
                       aria-describedby="isOutcomeBinaryDescription"
                       checked.two-way="isOutcomeBinary">
                <label id="isOutcomeBinaryDescription" class="form-text text-muted" for="isOutcomeBinary">Is outcome
                  binary - default:
                  false</label></div>
              <div class="row m-1">
                <input class="form-control form-check-input mt-0 ml-0" type="checkbox" id="isTreatmentBinary"
                       aria-describedby="isTreatmentBinaryDescription"
                       checked.two-way="isTreatmentBinary">
                <label id="isTreatmentBinaryDescription" class="form-text text-muted" for="isTreatmentBinary">Is
                  treatment
                  binary - default:
                  true</label></div>

            </div>

            <div class="col" if.bind="uploadTypeId === 3">
              <small id="samplesNumberDescriptionXY" class="form-text text-muted">Number of samples*</small>
              <input class="form-control" type="text" id="samplesNumberXY" aria-describedby="samplesNumberDescription"
                     value.two-way="samplesNumberXY">

              <small id="commonCausesNumberXYDescription" class="form-text text-muted">Number of common causes -
                default: 1</small>
              <input class="form-control" type="text" id="commonCausesNumberXY"
                     aria-describedby="commonCausesNumberDescription"
                     value.two-way="commonCausesNumberXY">

              <div class="row m-1"><input class="form-control form-check-input mt-0 ml-0" type="checkbox" id="isLinear"
                                          aria-describedby="isLinearDescription"
                                          checked.two-way="isLinearXY">
                <label id="isLinearDescription" class="form-text text-muted" for="isLinear">Is linear dataset - default:
                  true</label></div>

              <div class="row m-1"><input class="form-control form-check-input mt-0 ml-0" type="checkbox" id="effect"
                                          aria-describedby="effectDescription"
                                          checked.two-way="effectXY">
                <label id="effectDescription" class="form-text text-muted" for="effect">Is there effect - default:
                  true</label></div>

              <small id="standardDeviationErrorDescription" class="form-text text-muted">Value of standard
                deviation -
                default: 1</small>
              <input class="form-control" type="text" id="standardDeviationError"
                     aria-describedby="standardDeviationErrorDescription"
                     value.two-way="standardDeviationErrorXY">
            </div>
          </div>
          <hr>
          <button type="submit" class="btn btn-primary" click.trigger="startOperation()">
            Load data
          </button>
        </form>
      </div>
    </div>

    <!-- Uploaded file headers -->

    <hr>
    <p class="bg-primary p-2 text-white">File data</p>
    <div if.bind="fileData !== undefined">Total number of rows is: ${fileData.rowCount}</div>

    <div if.bind="fileData !== undefined">Features:</div>
    <table id="featureTable" class="table">
      <tr>
        <th repeat.for="feature of fileData.features">${feature}</th>
      </tr>
      <tr repeat.for="row of fileData.head">
        <td repeat.for="dataElement of row">${dataElement}</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary" click.trigger="loadRest()" if.bind="showLoadMoreButton === true">Load
      rest of data
    </button>
  </div>

  <status-line view-model.ref="statusLine"></status-line>
</template>
